/* Estilos del formulario */

form {
    label,
    input,
    textarea,
    input {
      display: block;
      margin-bottom: 10px;
    }
  }

  /* Formulario de contacto */

.main-contacto {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: $background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

form {
    label {
        display: block;
        margin-bottom: 5px;
    }
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}
