/* Estilos de la pagina nosotros */

.contenedor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.5rem;
  }

.img {
    img {
        width: 90%;
        height: auto;
        margin-left: 3rem;
        margin-right: 0.5rem;
        border-radius: 10px; 
    }
}

.historia {
    align-items: flex-end;
    font-family: 'Kalam', cursive;
    width: 45%;
    height: auto;
    margin-left: 1rem;
    margin-right: 2rem;
    background-color: $background-color;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.15rem;
}
