/* Estilos de los titulos h1 */

.titulo {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
    background-color: #f5f2c9;
    padding: 1rem;
    border-radius: 10px;
    border-style: dotted;
    border-color: #693f07;
}


.inicio-title {
    @extend %estilos-h1;
}

.nosotros-title {
    @extend %estilos-h1;
}

.productos-title {
    @extend %estilos-h1;
}

.ofertas-title {
    @extend %estilos-h1;
}

.contacto-title {
    @extend %estilos-h1;
}


